<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Free Go With Me </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a router-link="Login" class="nav-link active" aria-current="page" href="Login">Log-In</a>
        </li>
        <li class="nav-item">
          <a router-link="Signup" class="nav-link active" aria-current="page" href="Signup">Sign-Up</a>
        </li>
       
      </ul>
      
    </div>
  </div>
</nav>
  <router-outlet></router-outlet>