<div style="float: left; width: 50%;">

    <form [formGroup]='signupForm' (ngSubmit)="onSubmit()" >
        
            <label for="firstname">First-Name</label>
            <input type="text" id="firstname" class="form-control" placeholder=" Enter firstname" formControlName='firstName' 
            [ngClass]="{'is-invalid':submit&&f.firstName.errors}">
            <div *ngIf="submit&&f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First name is required</div>
            
            
              </div>
              <label for="lastname">Last-Name</label>
              <input type="text" id="lastname" class="form-control" placeholder="Enter Last-Name" formControlName='lastname'
              [ngClass]="{'is-invalid':submit&&f.lastName.errors}">
              <div *ngIf="submit&&f.lastName.errors" class="text-danger">
                  <div *ngIf="f.lastName.errors.required">
                    Last-Name is required
                  </div>
              </div>

              <label for="phone-number">Phone-Number</label>
              <input type="number" id="phonenumber" placeholder="Enter Phone Number" formControlName='phone' class="form-control"
              [ngClass]="{'is-invalid':submit&&f.phone.errors}" >
              <div *ngIf="f.phone.errors.required" class="text-danger">
                  <div *ngIf="f.phone.errors.required">
                    Phone number is required
                  </div>
                  
              </div>

              <label for="Role">Enter Role:</label>
              <input type="text" id="role" placeholder="Enter Role" formControlName='role' class="form-control"
              [ngClass]="{'is-invalid':submit&&f.role.errors}" >
              <div *ngIf="f.role.errors.required" class="text-danger">
                  <div *ngIf="f.role.errors.required">
                    Role is required
                  </div>
                  
              </div>

              <label for="password">Enter Role:</label>
              <input type="password" id="password" placeholder="Enter Password" formControlName='password' class="form-control"
              [ngClass]="{'is-invalid':submit&&f.password.errors}" >
              <div *ngIf="f.password.errors.required" class="text-danger">
                  <div *ngIf="f.password.errors.required">
                    Password is mandatory!!
                  </div>
                  
              </div>

              <label for="confirmPassword">Confirm password:</label>
              <input type="password" id="confirmPassword" placeholder="Confirm the Password" formControlName='confirmPassword' class="form-control"
              [ngClass]="{'is-invalid':submit&&f.confirmPassword.errors}" >
              <div *ngIf="f.confirmPassword.errors.required" class="text-danger">
                  <div *ngIf="f.confirmPassword.errors.required">
                   Confirm your  Passowrd !!
                  </div>
                  
              </div>

              
        
       <br>
            <button type="submit" class="btn btn-danger">Submit</button>
       </form>
       

       
       </div>
       
       
       
       
       
       
